@charset "UTF-8";
/** 修改默认的uikit变量 */
body {
  background-color: #FAFAFA !important; }

.blog-page-container {
  max-width: 960px;
  padding: 0 !important;
  margin-top: 20px !important; }
  @media (min-width: 640px) {
    .blog-page-container {
      padding-left: 40px !important;
      padding-right: 40px !important; } }
@charset "UTF-8";
/** 修改默认的uikit变量 */
.blog-list-container {
  min-height: 800px; }
  .blog-list-container .page-nav a {
    display: block;
    border: 2px solid #cccccc;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    -webkit-transition-property: background-color, color, border-color;
    transition-property: background-color, color, border-color; }
    .blog-list-container .page-nav a:hover {
      border-color: #00ab6b;
      background-color: #00ab6b;
      color: #ffffff;
      -webkit-transition: 0.1s ease-in-out;
      transition: 0.1s ease-in-out;
      -webkit-transition-property: background-color, color, border-color;
      transition-property: background-color, color, border-color; }
  .blog-list-container .page-nav svg {
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    -webkit-transition-property: color;
    transition-property: color;
    height: 40px;
    width: 40px;
    color: #cccccc; }
    .blog-list-container .page-nav svg:hover {
      color: #ffffff;
      -webkit-transition: 0.1s ease-in-out;
      transition: 0.1s ease-in-out;
      -webkit-transition-property: color;
      transition-property: color; }

.blog-list-item {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 20px; }
  @media (min-width: 640px) {
    .blog-list-item {
      margin-bottom: 50px;
      padding: 30px; } }
  .blog-list-item .title {
    font-size: 1.8em; }
    @media (min-width: 640px) {
      .blog-list-item .title {
        font-size: 2.5em; } }
  .blog-list-item .meta {
    font-size: 11px;
    color: #cccccc;
    margin-top: 5px; }
  .blog-list-item .meta-img img {
    opacity: 0.8;
    max-height: 300px; }
    @media (min-width: 640px) {
      .blog-list-item .meta-img img {
        max-height: 350px;
        border-radius: 2px; } }
  .blog-list-item .excerpt {
    color: #808080;
    line-height: 25px; }
  .blog-list-item .goto-detail-btn {
    color: #999999 !important;
    height: 35px;
    border-radius: 35px;
    line-height: 35px;
    border-color: #999999;
    font-weight: 100;
    font-size: 13px; }
    .blog-list-item .goto-detail-btn:hover {
      color: #ffffff !important;
      background: #00ab6b;
      border-color: #00ab6b; }
@charset "UTF-8";
/** 修改默认的uikit变量 */
.site-path div {
  height: 60px;
  line-height: 60px;
  margin-right: 5px;
  margin-top: -4px; }
