@charset "UTF-8";
/** 修改默认的uikit变量 */
.hot-area {
  background: #00ab6b;
  font-family: "Gotham Rounded";
  color: #ffffff;
  height: 390px; }

/* Phone landscape and bigger */
@media (min-width: 640px) {
  .hot-area {
    height: 290px; } }

.hot-area .zendapi {
  font-size: 60px;
  padding-top: 30px; }

.hot-area .slogan {
  font-size: 30px; }

.hot-area .btn {
  height: 35px; }
  .hot-area .btn .start-btn {
    color: #00ab6b !important;
    background: #ffffff;
    border: none;
    height: 35px;
    width: 150px; }
  .hot-area .btn .github-repo-btn {
    color: #dddddd !important;
    height: 35px;
    border-color: #dddddd;
    width: 150px; }
    .hot-area .btn .github-repo-btn:hover {
      color: #ffffff !important;
      border-color: #ffffff; }
@charset "UTF-8";
/** 修改默认的uikit变量 */
.features .title {
  width: 90px;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";
  color: #363b40;
  font-weight: bold;
  border-bottom: 3px solid #00ab6b;
  padding-bottom: 5px; }

.features .grid {
  max-width: 1200px; }

.features .uk-grid + .uk-grid, .features .uk-grid > .uk-grid-margin, .features * + .uk-grid-margin {
  margin-top: 0 !important; }

.features .feature-item {
  min-height: 250px; }
  @media (min-width: 640px) {
    .features .feature-item {
      min-height: 260px; } }
  @media (min-width: 960px) {
    .features .feature-item {
      min-height: 230px; } }
  .features .feature-item .feature-title {
    font-family: -apple-system, BlinkMacSystemFont, "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";
    color: #363b40;
    font-weight: bold;
    font-size: 1.5em; }
    @media (min-width: 960px) {
      .features .feature-item .feature-title {
        font-size: 1.2em; } }
  .features .feature-item .icon {
    color: #00ab6b;
    width: 60px;
    height: 60px; }
  .features .feature-item .feature-desc {
    font-size: 1.1em; }
@charset "UTF-8";
/** 修改默认的uikit变量 */
.info-list-panel {
  padding-bottom: 30px;
  padding-top: 30px;
  background: #F5F5F5; }
  .info-list-panel .grid-wrapper {
    max-width: 1200px; }
    @media (min-width: 640px) {
      .info-list-panel .grid-wrapper {
        min-width: 640px; } }
    @media (min-width: 960px) {
      .info-list-panel .grid-wrapper {
        min-width: 960px; } }
    @media (min-width: 1200px) {
      .info-list-panel .grid-wrapper {
        min-width: 1200px; } }
  .info-list-panel .panel-title {
    font-family: -apple-system, BlinkMacSystemFont, "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";
    color: #363b40;
    font-weight: bold;
    font-size: 20px;
    height: 40px;
    line-height: 40px; }
  .info-list-panel .title-icon {
    color: #00ab6b;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 10px; }
  .info-list-panel .info-list li {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 5px; }
    @media (min-width: 640px) {
      .info-list-panel .info-list li {
        max-width: 100%;
        /* 2 */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; } }
    .info-list-panel .info-list li a {
      font-size: 1.2em; }
      @media (min-width: 960px) {
        .info-list-panel .info-list li a {
          font-size: 1.1em; } }
  .info-list-panel .info-list {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px; }
@charset "UTF-8";
/** 修改默认的uikit变量 */
.sponsors-panel {
  min-height: 250px;
  max-width: 1200px; }
  .sponsors-panel .sponsor-title {
    padding-bottom: 10px;
    height: 60px;
    line-height: 60px;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";
    color: #363b40;
    font-weight: bold; }
    .sponsors-panel .sponsor-title img {
      height: 60px;
      width: 60px; }
      @media (min-width: 640px) {
        .sponsors-panel .sponsor-title img {
          height: 80px;
          width: 80px; } }
    @media (min-width: 640px) {
      .sponsors-panel .sponsor-title {
        height: 80px;
        line-height: 80px; } }
  .sponsors-panel .sponsor-logo {
    margin-bottom: 10px;
    opacity: 0.6;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transition-property: opacity;
    transition-property: opacity; }
    .sponsors-panel .sponsor-logo img {
      height: 80px;
      max-height: 80px; }
    @media (min-width: 640px) {
      .sponsors-panel .sponsor-logo {
        margin-bottom: 30px; } }
    .sponsors-panel .sponsor-logo:hover {
      opacity: 1;
      -webkit-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out;
      -webkit-transition-property: opacity;
      transition-property: opacity; }

.become-sponsor-btn {
  color: #00ab6b !important;
  height: 40px;
  border-color: #00ab6b;
  font-weight: lighter; }
  .become-sponsor-btn:hover {
    color: #ffffff !important;
    background: #00ab6b;
    border-color: #00ab6b; }
@charset "UTF-8";
/** 修改默认的uikit变量 */
.teamwork-panel {
  min-height: 250px;
  max-width: 1200px; }
  .teamwork-panel .teamwork-title {
    padding-bottom: 10px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";
    color: #363b40;
    font-weight: bold; }
    .teamwork-panel .teamwork-title img {
      height: 50px;
      width: 50px;
      padding-right: 10px; }
      @media (min-width: 640px) {
        .teamwork-panel .teamwork-title img {
          height: 70px;
          width: 70px; } }
    @media (min-width: 640px) {
      .teamwork-panel .teamwork-title {
        height: 70px;
        line-height: 70px; } }
  .teamwork-panel .developer-logo img {
    display: inline-block;
    border: 2px solid #15BC70;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    padding: 3px;
    opacity: 0.6;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transition-property: opacity;
    transition-property: opacity; }
    .teamwork-panel .developer-logo img:hover {
      opacity: 1;
      -webkit-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out;
      -webkit-transition-property: opacity;
      transition-property: opacity; }

.become-developer-btn {
  color: #00ab6b !important;
  height: 40px;
  border-color: #00ab6b;
  font-weight: lighter; }
  .become-developer-btn:hover {
    color: #ffffff !important;
    background: #00ab6b;
    border-color: #00ab6b; }
