/*

Railscasts-like style (c) Visoft, Inc. (Damien White)

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #232323;
  color: #e6e1dc;
}

.hljs-comment,
.hljs-quote {
  color: #bc9458;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #c26230;
}

.hljs-string,
.hljs-number,
.hljs-regexp,
.hljs-variable,
.hljs-template-variable {
  color: #a5c261;
}

.hljs-subst {
  color: #519f50;
}

.hljs-tag,
.hljs-name {
  color: #e8bf6a;
}

.hljs-type {
  color: #da4939;
}


.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-builtin-name,
.hljs-attr,
.hljs-link {
  color: #6d9cbe;
}

.hljs-params {
  color: #d0d0ff;
}

.hljs-attribute {
  color: #cda869;
}

.hljs-meta {
  color: #9b859d;
}

.hljs-title,
.hljs-section {
  color: #ffc66d;
}

.hljs-addition {
  background-color: #144212;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-selector-class {
  color: #9b703f;
}

.hljs-selector-id {
  color: #8b98ab;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
@charset "UTF-8";
/** 修改默认的uikit变量 */
body {
  background-color: #FAFAFA !important; }

.manual-page-container {
  max-width: 1200px;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  padding: 0 !important; }
  @media (min-width: 640px) {
    .manual-page-container {
      margin-top: 30px !important;
      margin-bottom: 30px !important; } }
  @media (min-width: 960px) {
    .manual-page-container {
      padding-left: 40px !important;
      padding-right: 40px !important;
      margin-top: 40px !important;
      margin-bottom: 40px !important; } }
  .manual-page-container pre {
    padding: 0 !important;
    margin: 0 !important;
    border: none; }
    .manual-page-container pre code {
      padding-bottom: 10px; }
@charset "UTF-8";
/** 修改默认的uikit变量 */
.manual-container {
  min-height: 600px; }
  .manual-container .manual-doc-container {
    background-color: #ffffff;
    padding: 20px; }
    @media (min-width: 640px) {
      .manual-container .manual-doc-container {
        padding: 30px; } }
    .manual-container .manual-doc-container .manual-title {
      font-size: 1.8em; }
      @media (min-width: 640px) {
        .manual-container .manual-doc-container .manual-title {
          font-size: 2.5em; } }
    .manual-container .manual-doc-container .manual-content {
      margin-top: 20px;
      font-size: 1.3em;
      line-height: 2em; }
      @media (min-width: 640px) {
        .manual-container .manual-doc-container .manual-content {
          margin-top: 30px; } }
      .manual-container .manual-doc-container .manual-content blockquote {
        border-left: 5px solid #cccccc;
        padding-left: 10px;
        /* 1 */
        overflow-wrap: break-word;
        /* 2 */
        word-wrap: break-word;
        /* 3 */
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
        font-size: 1.2em; }
        @media (min-width: 640px) {
          .manual-container .manual-doc-container .manual-content blockquote {
            border-left: 10px solid #cccccc;
            padding-left: 20px; } }
      .manual-container .manual-doc-container .manual-content a {
        text-decoration: underline; }
  .manual-container .catalog {
    width: 220px;
    padding: 20px;
    margin-right: 30px;
    background-color: #ffffff; }
    .manual-container .catalog .uk-active a {
      color: #00ab6b !important; }
